.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  overflow: hidden;
}

.glitchText {
  font-family: 'Courier New', monospace; // Моноширинный для эффекта кода
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color);
  text-transform: uppercase;
  
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}